* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 60px;
    width: 468px;
    background-color: #eee;
    display: flex;
    align-items: center;
    font-family: Lato, sans-serif;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.banner__heading {
    font-weight: light;
    position: relative;
}

.banner__text {
    height: 200px;
    width: 200px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    right: -15px;
    top: -70px;
    animation-name: rotation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.banner__square {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 05, 0, .1);
    transform: rotate(45deg);
    position: absolute;
    right: -50px;
    top: 0px;
    animation-name: rotation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.banner__button {
    position: absolute;
    right: 40px;
    top: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px white solid;
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    transition: .3s;
}

.banner__button:hover {
    background-color: #fff;
    color: tomato;
}

.heading__content {
    position: absolute;
    transform: translateY(-50%);
    opacity: 0%;
    animation-name: fadingout;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.second {
    animation-delay: 2s;
}

.third {
    animation-delay: 4s;
}

.fourth {
    animation-delay: 6s;
}

@keyframes fadingout {
    0% {
        opacity: 100%;
    }
    24% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
    100% {
        opacity: 0;
    }

}

@keyframes rotation {
    to {
        transform: rotate(315deg);
    }
}