* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 250px;
    width: 300px;
    background-color: #330099;
    font-family: sans-serif;
    color: white;
    position: relative;
}

.banner::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(image.jpg);
    background-size: cover;
    animation-name: bcg-rock;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.banner__text {
    font-size: 20px;
    color: white;
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__title {
    font-size: 56px;
    width: 70%;
    color: transparent;
    -webkit-text-stroke: 2px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes bcg-rock {
    0% {
        background-position-x: left;
    }
    50% {
        background-position-x: right;
    }
    51% {
        background-position-x: right;
    }
    100% {
        background-position-x: left;
    }
}

@keyframes show-letter {
    0% {color: transparent}
    10%{color: white}
    18%{color: white;}
    19%{color: transparent;}
    40%{color: transparent;}
    41%{color: white;}
    51%{color: white;}
    100%{color: white;}
}

.letter-1, .letter-2,.letter-3, .letter-4, .letter-5, .letter-6, .letter-7, .letter-8 {
    animation-name: show-letter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.letter-6 {
    animation-name: show-letter;
    animation-duration: .7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}